{% extends 'base.html' %}

{% block search_bar %}
    {{ super() }}
{% endblock %}

{% block content %}

    <section id="authors" class="my-5 text-center">

    {% if books|length>0 %}

      <div class="container">

          <div class="row">

            {% for i in books %}

              <div class="col-lg-3 col-md-6 mt-4">
                <div class="card">
                  <div class="card-body">
                    <img src="{{ url_for('static', filename='img/book.png') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                    <h3><a href = "{{url_for('viewBookById', book_id = i.id) }}">{{i.name}}</a></h3>
                    <p>{{i.description}}</p>
                  </div>
                </div>
              </div>

            {% endfor %}

          </div>
        </div>

      {% else %}
          <p style="color:white">No Records found.</p>
      {% endif %}

      </section>

    <br><br>

{% endblock %}